{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "record_expungement_webapp/styles.css" %}"/>

<h1>
  Complete Personal Information
</h1>
<div class="top-level-section">
  Your RAP sheet {{ filename }} was uploaded successfully.
</div>

<div class="top-level-section gray">
  <div class='inner'>
    <h2>Section 1 - Primary info</h2>
    <div class="row-2 clearfix">
      <div class="col-left">DOB</div>
      <div class="col-right">{{ rap_sheet.dob|date:"SHORT_DATE_FORMAT" }}</div>
    </div>
    <div class="row-2 clearfix">
      <div class="col-left">Sex</div>
      <div class="col-right">{{ rap_sheet.sex }}</div>
    </div>
    <div class="row-2 clearfix">
      <div class="col-left">Names</div>
      <div class="col-right">
        {% for name in rap_sheet.names_as_charged %}
          <div>
            {{ name }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div><!-- end primary info -->

<form action="{% url 'submit_personal_info' %}" method="post">
  {% csrf_token %}
  {{ info_form.non_field_errors }}

  <div class="top-level-section gray">
    <div class='inner'>
      <h2>Section 2 - Events</h2>
    </div>
    {% for event, waiver_field in info_form.waiver_fields %}
      <div class='inner'>
        {% if forloop.counter > 1 %}
        <div class='separator'></div>
        {% endif %}

        <h3>Arrest ID {{ event.arrest_info.arrest_id }}</h3>
        {% if event.needs_declaration and event.has_any_eligible %}
          <div class="row-2 clearfix declaration-box">
            <div class="col-both">
              This event needs a declaration.
              <div>
                Reason(s):
                {% for reason in event.needs_declaration_reasons %}
                  {{ reason }}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        {% if event.has_any_eligible %}
          <div class="row-2 clearfix waiver-box">
            <div class="col-both">
              {{ waiver_field }} Check here if you asked the court to waive your court fees for this case in the last six months.
            </div>
          </div>
        {% endif %}
        <div class="row-2 clearfix">
          <div class="col-left">Date</div>
          <div class="col-right">{{ event.arrest_info.date|date:"SHORT_DATE_FORMAT" }}</div>
        </div>
        <div class="row-2 clearfix">
          <div class="col-left">City</div>
          <div class="col-right">{{ event.arrest_info.city }}</div>
        </div>
        <!-- <div class="row-2 clearfix">
          <div class="col-left">DOB</div>
          <div class="col-right">{{ event.listed_dob|date:"SHORT_DATE_FORMAT"}}</div>
        </div> -->

        {% for case_info in event.associated_cases %}
          <div class="inner-section">
            <h3>Case ID {{ case_info.case_id }}</h3>
            <div class="row-2 clearfix">
              <div class="col-left">Date</div>
              <div class="col-right">{{ case_info.date|date:"SHORT_DATE_FORMAT" }}</div>
            </div>
            <div class="row-2 clearfix">
              <div class="col-left">County</div>
              <div class="col-right">{{ case_info.county }}</div>
            </div>
            <div class="inner-section">
              <h3>Counts</h3>
              {% for count in case_info.counts %}
                <div class="row-2 clearfix">
                  <div class="col-num count-num">{{ forloop.counter }}</div>
                  <div class="col-right">
                    <div class="row-2 clearfix">
                      <div class="col-both">
                        {% if count.is_eligible_for_expungement %}
                          <div class='eligible-yes'>Eligible for expungement? Yes</div>
                        {% else %}
                          <div class='eligible-no'>
                          Eligible for expungement? No
                            <div>
                              Reason(s):
                              {% for reason in count.ineligible_for_expungement_reasons %}
                                {{ reason }}
                              {% endfor %}
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="row-2 clearfix">
                      <div class="col-left">Offense</div>
                      <div class="col-right">{{ count.offense.code }} {{ count.offense.offense_id }} {{ count.offense.description }}</div>
                    </div>
                    <div class="row-2 clearfix">
                      <div class="col-left">Decision</div>
                      <div class="col-right">{{ count.disposition.disposition_decision|capfirst }}</div>
                    </div>
                    {% if count.disposition.crime_category %}
                      <div class="row-2 clearfix">
                        <div class="col-left">Category</div>
                        <div class="col-right">{{ count.disposition.crime_category|capfirst }}</div>
                      </div>
                    {% endif %}
                  </div>
              </div>
              {% endfor %}
            </div>
            <div class="inner-section">
              <h3>Sentence</h3>
                {% if case_info.sentence.probation_duration %}
                <div class="row-2 clearfix">
                  <div class="col-left">Probation</div>
                  <div class="col-right">{% widthratio case_info.sentence.probation_duration.days 30 1 %} months</div>
                </div>
                {% endif %}
                {% if case_info.sentence.incarceration %}
                <div class="row-2 clearfix">
                  <div class="col-left">Incarceration</div>
                  <div class="col-right">{{ case_info.sentence.incarceration.type|capfirst }} -
                    {{ case_info.sentence.incarceration.duration.days }} days</div>
                </div>
                {% endif %}
                {% if case_info.sentence.fine %}
                <div class="row-2 clearfix">
                  <div class="col-left">Fine</div>
                  <div class="col-right">Yes</div>
                </div>
                {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div> <!-- end events -->

  <div class="top-level-section gray">
    <div class='inner'>
      <h2>Section 3 - Personal Info</h2>
      <h3>Your Information</h3>
      <p class='description'>(Person asking the court to waive the fees)</p>
      <div class="row-2 clearfix">
        <div class="col-left">Name</div>
        <div class="col-right">
          {{ info_form.fname }}<span class='spacer'></span>{{ info_form.mname }}<span class='spacer'></span>{{ info_form.lname }}
          {% if info_form.fname.errors %}{% for error in info_form.fname.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.mname.errors %}{% for error in info_form.mname.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.lname.errors %}{% for error in info_form.lname.errors %}{{ error|escape }}{% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="row-2 clearfix">
        <div class="col-left">Address</div>
        <div class="col-right">
          {{ info_form.address }}<span class='spacer'></span>{{ info_form.city }}<span class='spacer'></span>{{ info_form.state }}<span class='spacer'></span>{{ info_form.zip_code }}
          {% if info_form.address.errors %}{% for error in info_form.address.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.city.errors %}{% for error in info_form.city.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.state.errors %}{% for error in info_form.state.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.zip_code.errors %}{% for error in info_form.zip_code.errors %}{{ error|escape }}{% endfor %}
          {% endif %}
          </div>
      </div>
      <h3>Your Job</h3>
      <div class="row-2 clearfix">
        <div class="col-left">Job title</div>
        <div class="col-right">
          {{ info_form.job_title }}
          {% if info_form.job_title.errors %}{% for error in info_form.job_title.errors %}{{ error|escape }}{% endfor %}{% endif %}
        </div>
      </div>
      <div class="row-2 clearfix">
        <div class="col-left">Employer</div>
        <div class="col-right">
          {{ info_form.employer }}
          {% if info_form.employer.errors %}{% for error in info_form.employer.errors %}{{ error|escape }}{% endfor %}{% endif %}
        </div>
      </div>
      <div class="row-2 clearfix">
        <div class="col-left">Address</div>
        <div class="col-right">
          {{ info_form.employer_address }}<span class='spacer'></span>{{ info_form.employer_city }}<span class='spacer'></span>{{ info_form.employer_state }}<span class='spacer'></span>{{ info_form.employer_zip_code }}
          {% if info_form.employer_address.errors %}{% for error in info_form.employer_address.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.employer_city.errors %}{% for error in info_form.employer_city.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.employer_state.errors %}{% for error in info_form.employer_state.errors %}{{ error|escape }}{% endfor %}
          {% elif info_form.employer_zip_code.errors %}{% for error in info_form.employer_zip_code.errors %}{{ error|escape }}{% endfor %}
          {% endif %}
          </div>
      </div>
      <h3>Contact Information</h3>
      {% for field in info_form %}
      {% if "waiver_" in field.name %}
      <!-- dynamic fields to be rendered separately -->
      {% elif field.name in info_form.name_address_fields %}
      <!-- rendered above -->
      {% else %}
        {% if "benefit_0" == field.name %}
        <h3>Why are you asking the court to waive your court fees?</h3>
        <p>I receive <i>(check all that apply; see form FW-001-INFO for definitions)</i>:</p>

        {% elif "label_amount_1_monthly_1" == field.name %}
          <h3>Your Gross Monthly Income</h3>
          <p class='description'>List the source and amount of any income you get each month, including: wages or other income from work before deductions, spousal/child support, retirement, social security, disability, unemployment, military basic allowance for quarters (BAQ), veterans payments, dividends, interest, trust income, annuities, net business or rental income, reimbursement for job-related expenses, gambling or lottery winnings, etc.</p>
          <div class="row-4 clearfix">
            <div class="col-4 help-text">Job title</div>
            <div class="col-4-small help-text">Amount</div>
          </div>
        {% elif "wage_earner_title_1" == field.name %}
          <h3>Household Income</h3>
          <p class='description'>List the income of all other persons living in your home who depend in whole or in part on you for support, or on whome you depend in whole or in part for support.</p>
          <div class="row-4 clearfix">
            <div class="col-4 help-text">Name</div>
            <div class="col-4-small help-text">Age</div>
            <div class="col-4 help-text">Relationship</div>
            <div class="col-4 help-text">Gross Monthly Income</div>
          </div>
        {% elif "cash" == field.name %}
        <h3>Your Money and Property</h3>

        {% elif "asset_1_vehicle_1" == field.name %}
          <p class="subheading">c. Cars, boats, and other vehicles</p>
          <div class="row-4 clearfix">
            <div class="col-4 help-text">Make/Year</div>
            <div class="col-4-small help-text">Fair Market Value</div>
            <div class="col-4 help-text">How Much You Still Owe</div>
          </div>
        {% elif "asset_1_real_estate_1" == field.name %}
          <p class="subheading">d. Real estate</p>
          <div class="row-4 clearfix">
            <div class="col-4 help-text">Address</div>
            <div class="col-4-small help-text">Fair Market Value</div>
            <div class="col-4 help-text">How Much You Still Owe</div>
          </div>
        {% elif "asset_1_other_1" == field.name %}
          <p class="subheading">e. Other personal property (jewelry, furniture, furs, stocks, bonds, etc.)</p>
          <div class="row-4 clearfix">
            <div class="col-4 help-text">Describe</div>
            <div class="col-4-small help-text">Fair Market Value</div>
            <div class="col-4 help-text">How Much You Still Owe</div>
          </div>
        {% elif "label_amount_1_bank_1" == field.name %}
          <p class="subheading">b. All financial accounts (list bank name and amount)</p>
        {% elif "label_amount_1_payroll_1" == field.name %}
          <h3>Your Monthly Deductions and Expenses</h3>
          <p class="subheading">a. List any payroll deductions and the monthly amount below.</p>
        {% elif "label_amount_1_installment_1" == field.name %}
          <p class="subheading">l. Installment payments</p>
          <div class="row-4 clearfix">
            <div class="col-4"><span class='subheading help-text'>Paid to:</span></div>
            <div class="col-4-small"><span class='subheading help-text'>How much?</span></div>
          </div>
        {% elif "label_amount_1_other_1" == field.name %}
          <p class="subheading">n. Any other monthly expenses (list each below)</p>
          <div class="row-4 clearfix">
            <div class="col-4"><span class='subheading help-text'>Paid to:</span></div>
            <div class="col-4-small"><span class='subheading help-text'>How much?</span></div>
          </div>
        {% endif %}

        {% if "benefit_" in field.name or "income_changes" == field.name %}
          {% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}
          <div class="row-2 clearfix">
            <div class="col-num">{{ field }}</div>
            <div class="col-right">{{ field.label }}</div>
          </div>

        {% elif "wage_earner_" in field.name %}
          {% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}
          {% if "wage_earner_title_" in field.name %}
          <div class="row-4 clearfix">
            <div class="col-4">{{ field }}</div>
          {% elif "wage_earner_age_" in field.name %}
            <div class="col-4-small">{{ field }}</div>
          {% elif "wage_earner_relationship_" in field.name %}
            <div class="col-4">{{ field }}</div>
          {% else %}
            <div class="col-4">{{ field }}</div>
          </div>
          {% endif %}

        {% elif "asset_" in field.name %}
          {% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}
          {% if "asset_1_" in field.name %}
          <div class="row-4 clearfix">
            <div class="col-4">{{ field }}</div>
          {% elif "asset_2_" in field.name %}
            <div class="col-4-small">{{ field }}</div>
          {% elif "asset_3_" in field.name %}
            <div class="col-4">{{ field }}</div>
          </div>
          {% endif %}

        {% elif "label_amount_" in field.name %}
          {% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}
          {% if "label_amount_1_" in field.name %}
          <div class="row-4 clearfix">
            <div class="col-4">{{ field }}</div>
          {% else %}
            <div class="col-4-small">{{ field }}</div>
          </div>
          {% endif %}

        {% elif "long_" in field.name %}
          <div class="row-4 clearfix">
            <div class="col-4"><span class='subheading'>{{ field.label }}</span></div>
            <div class="col-4-small">
              {{ field }}
              {% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}
            </div>
          </div>

        {% else %}
          <div class="row-2 clearfix">
            <div class="col-left">{{ field.label }}</div>
            <div class="col-right">
              {{ field }}<span class='spacer'></span><span class='help-text'>{{ field.help_text }}</span>
              {% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}
            </div>
          </div>
        {% endif %}

      {% endif %}
    {% endfor %}
    </div>
  </div><!-- end personal info -->

  <div class="top-level-section">
    <input type="submit" value="Submit info"/>
  </div>
</form>

