{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "record_expungement_webapp/styles.css" %}"></link>

<h4>
  File uploaded
</h4>
<p>
  File name: {{ filename }}<br/>
  File size: {{ filesize }}
</p>
<p>
  <h5>Names</h5>
  {% for name in rap_sheet.names_as_charged %}
    <p>
      {{ name }}
    </p>
  {% endfor %}
</p>

<div>
  <h3>Personal info</h3>
  <form action="{% url 'submit_personal_info' %}" method="post">
    {% csrf_token %}
    {{ info_form.non_field_errors }}

    <h5>Events</h5>

      {% for event, waiver_field in info_form.waiver_fields %}
        <p>
        {{ event.arrest_info.arrest_id }}
        {{ event.arrest_info.date }}
        {{ event.arrest_info.city }}

        {{ waiver_field.errors }}
        {% for case_info in event.associated_cases %}
          {{ case_info.case_id }} {{ waiver_field }}
        {% endfor %}
        </p>
      {% endfor %}

    <p>
      {{ info_form.email.errors }}
      {{ info_form.email }}
    </p>
    <p>
      <input type="submit" value="Submit info" />
    </p>
  </form>
</div>
