{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "record_expungement_webapp/styles.css" %}"></link>

<script src="{% static "record_expungement_webapp/jquery-1.11.3.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $("#spinner").bind("ajaxSend", function() {
  $(this).show();
  }).bind("ajaxStop", function() {
  $(this).hide();
  }).bind("ajaxError", function() {
  $(this).hide();
  });
  });
  $(document).ready(function(){
  $('#button-upload').click(function() {
  $('#spinner').show();
  });
  });
</script>

<h1>Start Record Expungment</h1>
<div class="top-level-section">
    Upload a PDF of your RAP sheet to begin.
</div>
<div class="top-level-section">
  <form action="{% url 'upload_rap_sheet' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ doc_form.non_field_errors }}
    <div>
      {{ doc_form.docfile.errors }}
      {{ doc_form.docfile }}
    </div>
    <br/>
      <div class="button-left">
        <input type="submit" value="Upload file" id="button-upload"/>
      </div>

      <div id="spinner" style="display: none;">
        <img id="img-spinner" src="{% static "record_expungement_webapp/ajax-loader.gif" %}" alt="Uploading"/>
      </div>
    </div>
  </form>
</div>

