{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "record_expungement_webapp/styles.css" %}"></link>

<h1>Success</h1>

<div class="top-level-section">
    <div>
        Your information was processed successfully. Click the button below to download your forms.
    </div>
</div>
<div class="top-level-section">
    <form action="{% url 'download_forms' %}" method="post">
        {% csrf_token %}
        <div>
          <input type="submit" value="Download forms"/>
        </div>
    </form>
</div>
