body,
input,
textarea,
select,
button,
.normal {
    font-family: "Open Sans";
    font-size: 13px;
    color: #000;
    font-weight: normal;
}

body {
    background-color: #fff;
    min-height: 100%;
    margin: 1em;
    padding: 0;
}

a, a * {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    img {
	border: 0;
    }
}

p, h1, h2, h3, h4, h5 {
    margin: 0 0 1em 0;
    line-height: 1.6em;
}

h1 {
    font-size: 18pt;
    font-weight: normal;
    margin: 10px 0;
}

h2 {
    padding-top: 3px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    font-size: 10pt;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 10pt;
}

h4 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 14px;
}

h5 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 12px;
}

button {
  border: 0;
  width: auto;
  overflow: visible;
  border-style: solid;
  outline: 0;
}

form {
  padding: 0;
  margin: 0;
}

.indent-1 {
    padding: 0 2em;
}

.event {
    padding-top: 1em;
    padding-left: 2em;
}

.case {
    padding-left: 2em;
}

.count {
    padding-left: 2em;
}

.eligibility {
    font-weight: bold;
}
.top-level-section {
    margin: 2em 0em;
}

input[type=submit] {
    font-size: 2em;
}
