body,
input,
textarea,
select,
button,
.normal {
    font-family: "Open Sans";
    font-size: 13px;
    color: #000;
    font-weight: normal;
}

body {
    background-color: #fff;
    min-height: 100%;
    margin: 2em 2.5em;
    padding: 0;
    line-height: 1.6em;
}

a, a * {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    img {
	border: 0;
    }
}

p, h1, h2, h3, h4, h5 {
    margin: 0 0 1em 0;
}

h1 {
    font-size: 18pt;
    font-weight: normal;
    margin: 10px 0;
    color: #666;
}

h2 {
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    font-size: 14pt;
    color: #666;
}

h3 {
    padding-top: 3px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 12pt;
    color: #666;
}

h4 {
    margin: 0;
    padding-bottom: 5px;
    font-weight: bold;
}

button {
  border: 0;
  width: auto;
  overflow: visible;
  border-style: solid;
  outline: 0;
}

form {
  padding: 0;
  margin: 0;
}

.errorlist {
    display: inline;
}
.indent-1 {
    padding: 0 2em;
}
.event {
    padding-bottom: 1.5em;
}
.case {
    padding-left: 2em;
}
.count {
    padding-bottom: 2em;
}
.eligibility {
}
.top-level-section {
    margin: 2em 0em;
}
.gray {
    background-color: #eee;
    padding: 1em;
    border-radius: 3px;
}
input[type=submit] {
    font-size: 2em;
}
.button-left {
    float: left;
    margin-right: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
[class*="row-"] {
    margin-bottom: 10px;
}
[class*="row-"]:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
}
[class*="col-"] {
    margin-right: 20px;
}
[class*="col-"]:last-child {
    margin-right: 0;
}
.col-left {
    float: left;
    width: 8%;
    color: #666;
}
.col-right {
    float: left;
    width: 92%;
}
.col-left-large {
    float: left;
    width: 18%;
    color: #666;
}
.col-right-small {
    float: left;
    width: 82%;
}
.col-num {
    float: left;
    width: 2%;
}
.col-both {
    width: 100%;
}
.row-2 {
    padding-left: 20px;
}
.row-2 [class*="col-"]:first-child {
    margin-left: -20px;
}

.col-4 {
    float: left;
    width: 15%;
}
.col-4-small {
    float: left;
    width: 5%;
}
.row-4 {
    padding-left: 60px;
}
.row-4 [class*="col-"]:first-child {
    margin-left: -60px;
}




